<h1>Lr8#input</h1>


<%= form_with url: "/lr8/output", method: :get do |form| %>
    <%= form.label :amount, "Количество элементов:" %>
    <%= form.text_field :amount %> </br>
    <%= form.label :array, "Массив:" %>
    <%= form.text_field :array %>
    <%= form.submit "Отправить" %>
  <% end %>
  